@model BudgetTracker.Models.ViewModels.CreateExpenseViewModel
@{
    ViewBag.Title = "Create Budgeted Expense";
}
<h1>Create Budgeted Expense</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Amount"></label>
        <input asp-for="Amount" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <button type="submit">Create</button>
</form>