@model BudgetTracker.Models.ViewModels.CreateExpenseViewModel
@{
    ViewBag.Title = "Create Budgeted Expense";
    ViewBag.FormAction = "Create";
    ViewBag.SubmitLabel = "Create";
}
<h1>Create Budgeted Expense</h1>

<partial name="_ExpenseForm" model="Model" />