@model BudgetTracker.Models.BudgetedExpense
@{
    ViewBag.Title = "Create Budgeted Expense";
}
<h1>Create Budgeted Expense</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="BudgetedAmount"></label>
        <input asp-for="BudgetedAmount" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
    </div>
    <button type="submit">Create</button>
</form>