@model EditExpenseViewModel

@{
    ViewBag.Title = "Edit Budgeted Expense";
    ViewBag.FormAction = "Edit";
    ViewBag.SubmitLabel = "Update";
}
<h1>Edit Budgeted Expense</h1>
<partial name="_ExpenseForm" model="Model" />

@section Scripts {
    <script src="~/js/category-modal.js"></script>
    <script>
        setupCategoryModal('CategoryId', 'addCategoryBtn');
    </script>
}
